#one
{
    height:100%;
    flex-direction: column;
    width:100%;
    background-size: cover;
    background-image: url("backgrnd.jpeg");
    display:flex;
    justify-content:center;
    align-items: center;
}
#three
{

    font-size: 50px;
    display:flex;
    justify-content:flex-end;
    font-style: italic;
    margin-bottom: 500px;
    letter-spacing: 2px;
    margin-left: 50px;
    position: fixed;
}
#quote
{
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
}
#author
{
    margin-left: 500px;
}
#tom
{
    margin-top:50px;
    font-size: 20px;
}
#but
{
    margin-top: 30px;
    margin-left: 900px;
    height:30px;
    width:100px;
    border:2px solid black;
    border-radius: 30px;
}

